/* #region ||||| UTILITIES ||||| */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-primary: rgb(87, 77, 196);
    --var-secondary: rgb(195, 145, 255);
    --var-tertiary: rgb(238, 228, 218);
    --var-accent_light: rgb(175, 121, 242);
    --var-accent_dark: rgb(180, 99, 245);
    --var-accent_darkest: rgb(140, 95, 246);
    --var-font_light: rgb(249, 245, 240);
    --var-font_dark: rgb(117, 112, 104);
    --var-font_darkest: rgb(0, 0, 0);
    --var-danger: rgb(200, 0, 0);
    --var-success: rgb(40, 170, 0);
}

/* #endregion ||||| UTILITIES ||||| */


/* #region ||||| COMMON RULES ||||| */

body {
    background-color: var(--var-primary);
    color: var(--var-font_darkest);
    font-family: "Fredoka", sans-serif;
}

.clicked {
    background-color: var(--var-secondary);
}

.mushroom {
    background-color: var(--var-accent_dark);
}

.mc_btn {
    background-color: var(--var-accent_darkest);
    border: 2px solid var(--var-tertiary);
    font-size: 1.5rem;
}

.mc_btn:hover {
    background-color: var(--var-accent_dark);
    border-color: var(--var-accent_dark);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: var(--var-accent_darkest);
    border-color: var(--var-accent_darkest);
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| HEADER ||||| */

#site_header {
    height: 80px;
    background-color: var(--var-secondary);
    background-image: url(../img/gengar3.png);
    color: var(--var-tertiary);

    h1 {
        font-size: 3rem;
        text-shadow: 0px 0px 20px black;
    }

    label {
        font-size: 1.5rem;
        text-shadow: 0px 0px 20px black;
    }

    #input_game_difficulty {
        width: 17%;
    }
}

/* #endregion ||||| HEADER ||||| */


/* #region ||||| GAME ||||| */

#game_container {
    width: 750px;
    margin: 1rem auto;
    box-sizing: content-box;
    border: 2px solid var(--var-tertiary);
}

.cell {
    aspect-ratio: 1;
    border: 2px solid var(--var-tertiary);
    text-align: center;
    font-size: 2rem;
    background-position-x: -1px;
    background-position-y: 4px;
    background-size: cover;
}

.cell:hover {
    cursor: pointer;
}

.cell:not(.clicked):not(.mushroom):hover {
    background-color: var(--var-accent_light);
}

.popup {
    background-color: var(--var-secondary);
    color: var(--var-font_darkest);
    padding: 2.5rem;
    border: 10px solid var(--var-font_dark);
    font-size: 2rem;

    h1 {
        font-size: 4rem;
    }

}

/* #endregion ||||| GAME ||||| */