/* #region ||||| UTILITIES ||||| */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-primary: rgb(250, 248, 239);
    --var-secondary: rgb(187, 173, 160);
    --var-tertiary: rgb(238, 228, 218);
    --var-accent_light: rgb(242, 177, 121);
    --var-accent_dark: rgb(245, 149, 99);
    --var-accent_darkest: rgb(246, 124, 95);
    --var-font_light: rgb(249, 245, 240);
    --var-font_dark: rgb(117, 112, 104);
    --var-font_darkest: rgb(0, 0, 0);
    --var-danger: rgb(200, 0, 0);
    --var-success: rgb(40, 170, 0);
}

/* #endregion ||||| UTILITIES ||||| */


/* #region ||||| COMMON RULES ||||| */

body {
    background-color: var(--var-tertiary);
    font-family: "Fredoka", sans-serif;
}

.clicked {
    background-color: var(--var-accent_darkest);
}

.mc_btn {
    background-color: var(--var-accent_dark);
    border-color: var(--var-accent_dark);
    font-size: 1.5rem;
}

.mc_btn:hover {
    background-color: var(--var-accent_darkest);
    border-color: var(--var-accent_darkest);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: var(--var-accent_darkest);
    border-color: var(--var-accent_darkest);
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| HEADER ||||| */

#site_header {
    height: 80px;
    background-color: var(--var-secondary);
}

/* #endregion ||||| HEADER ||||| */


/* #region ||||| GAME ||||| */

#game_container {
    width: 1000px;
    margin: 1rem auto;
    box-sizing: content-box;
    border: 2px solid var(--var-font_dark);
}

.cell {
    width: 100px;
    aspect-ratio: 1;
    border: 2px solid var(--var-font_dark);
    line-height: 100px;
    text-align: center;
    font-size: 3rem;
}

.cell:hover {
    cursor: pointer;
}

.cell:not(.clicked):hover {
    background-color: var(--var-accent_light);
}

/* #endregion ||||| GAME ||||| */